# in-toto runtime dependencies required by sphinx
-r requirements-pinned.txt

# sphinx extensions
sphinx-rtd-theme
sphinx-argparse
recommonmark
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
