# in-toto runtime dependencies
-r requirements-pinned.txt

# Test tools for linting and test coverage measurement
pylint
bandit
coverage
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
