# in-toto runtime dependencies
-r requirements-pinned.txt

# Test tools for linting and test coverage measurement
pylint
bandit
coverage
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
